/* theme */
.theme-ft-color {
  color: #b4de50; }

.theme-bg-color {
  background-color: #b4de50; }

.app-nav .active {
  background: #b4de50; }

/* main */
.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.app-flex {
  display: flex; }

.flex-item {
  flex: 1; }

.ft20 {
  font-size: 20px; }

.ft14 {
  font-size: 14px; }

.app-full {
  width: 100%; }

.app-image {
  line-height: 0; }

/* =====
   Menu
   ===== */
.App-menu {
  height: 100px;
  display: flex; }

.App-menu li {
  height: 100px;
  font-size: 20px;
  flex: 1; }

.App-menu a {
  color: #2CC185;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; }

.App-menu a:after {
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #2CC185;
  content: '';
  transform: translate3D(0, 100px, 0);
  transition: transform .3s;
  z-index: -1; }

.App-menu .active {
  color: #fff; }

.App-menu .active:after {
  transform: translate3D(0, 0, 0); }

.App-main {
  background: #fff;
  height: 400px; }

/* gallery */
.app-gallery {
  color: #fff; }
  .app-gallery .slide-item {
    height: 100%;
    width: 100%;
    background-size: cover; }
  .app-gallery .slide-content {
    padding-top: 120px;
    padding-left: 50px;
    width: 80%; }
  .app-gallery .item {
    width: 100%;
    height: 100vh; }
  .app-gallery .owl-controls {
    margin-top: -50px !important; }
  .app-gallery .title {
    font-size: 60px;
    font-weight: 700;
    transition: transform .5s .8s, opacity .6s .8s; }
  .app-gallery .desc {
    font-size: 24px;
    transition: transform .5s 1s, opacity .6s 1s; }
  .app-gallery .button {
    height: 40px;
    width: 140px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    display: block;
    margin-top: 30px;
    transition: transform .5s 1.2s, opacity .6s 1.2s; }
  .app-gallery .title,
  .app-gallery .desc,
  .app-gallery .button {
    transform: translate3d(0, -20px, 0);
    opacity: 0; }

.active .title,
.active .desc,
.active .button {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

/* header */
.app-header {
  position: absolute;
  height: 130px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  z-index: 10; }

.app-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  float: left;
  margin-top: -20px; }

.app-logo {
  height: 90px;
  width: 143px; }

.app-nav {
  float: right;
  color: #fff; }
  .app-nav ul {
    height: 60px; }
  .app-nav li {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    height: 30px;
    padding: 0 20px;
    border-radius: 3px;
    line-height: 30px; }

/* gallery */
.app-gallery {
  height: 100vh; }

/* primary */
.app-primary {
  padding: 40px 0 30px;
  text-align: center; }
  .app-primary .flex-item {
    padding: 20px 10px; }
  .app-primary h3 {
    font-size: 20px;
    padding: 20px 0; }
  .app-primary p {
    font-size: 14px;
    color: #666; }
  .app-primary span {
    font-size: 40px;
    font-weight: 700; }

/* full */
.full-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .full-img .title {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0 20px; }
  .full-img .desc {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 60px; }
  .full-img .flex-item {
    margin: 0 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px; }
  .full-img .text-title {
    font-size: 20px; }
  .full-img .text-main {
    font-size: 14px; }

.app-left-content {
  height: 500px; }
  .app-left-content .left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 70px 0 0 50px; }
    .app-left-content .left .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px; }
    .app-left-content .left .content {
      font-size: 18px;
      margin-bottom: 30px; }
    .app-left-content .left .flex-item {
      line-height: 2; }

.app-right-content {
  height: 500px; }
  .app-right-content .right {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 70px 0 0 50px; }
    .app-right-content .right .title {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px; }
    .app-right-content .right .content {
      font-size: 18px;
      margin-bottom: 30px; }
    .app-right-content .right .flex-item {
      line-height: 2; }

.app-image-gallery .flex-item {
  position: relative;
  overflow: hidden; }
  .app-image-gallery .flex-item:hover .circle {
    transform: scale(2); }
  .app-image-gallery .flex-item:hover .text {
    opacity: 1; }

.app-image-gallery img {
  display: block;
  max-width: 100%; }

.app-image-gallery .circle {
  height: 100%;
  width: 100%;
  opacity: .8;
  background: #fff;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  transition: transform .4s; }

.app-image-gallery .text {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .app-image-gallery .text .title {
    font-size: 26px; }
  .app-image-gallery .text .name {
    font-size: 20px; }

.app-footer {
  padding: 50px 0;
  background: #212121;
  color: #ccc; }
  .app-footer .flex-item {
    padding: 0 20px; }
  .app-footer .title {
    font-size: 20px;
    margin-bottom: 20px; }
  .app-footer .copyright {
    color: #999;
    text-align: center;
    padding: 30px 0 10px; }

/* edit */
.app-edit {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 700;
  width: 100px;
  background: #fff;
  transform: translate3d(-100px, 0, 0);
  transition: transform .3s; }
  .app-edit .edit-trigger {
    position: absolute;
    height: 40px;
    width: 40px;
    right: -40px;
    top: 60px;
    border-radius: 0 3px 3px 0;
    background: #fff;
    text-align: center;
    line-height: 40px; }
    .app-edit .edit-trigger .iconfont {
      display: block;
      height: 100%;
      width: 100%;
      color: #333; }
      .app-edit .edit-trigger .iconfont:hover {
        text-decoration: none; }
    .app-edit .edit-trigger .icon-set {
      font-size: 18px; }
    .app-edit .edit-trigger .icon-rotate {
      height: 100%;
      animation: icon-rotate 3s infinite linear; }
  .app-edit .nav {
    padding-left: 20px;
    padding-top: 20px; }
  .app-edit .color {
    padding-top: 40px; }
    .app-edit .color li {
      height: 40px;
      width: 40px;
      border-radius: 3px;
      margin-bottom: 20px;
      cursor: pointer;
      box-sizing: border-box; }
    .app-edit .color .current {
      border: 2px solid #e3e3e3; }

.app-extend {
  transform: translate3d(0, 0, 0); }

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
